/* sms-certi.css */
/* ======== 기본설정 ======== */

html {scroll-behavior: smooth; user-select: none;}

#wrap{
  position:relative;
  width:100%; height:auto;}

/* ===================== #headBox ======================== */

#headBox{
  position:fixed;
  top:0; left:0; right:0;
  z-index:1000;
  width:100%; height:50px;
  background-color: #FBFBFB;
  border-bottom: 1px solid #DbDbDb;
}

  #headBox button.back{
    float:left;
    margin-top: 18px;
    margin-left: 20px;
    width:16px; height:16px;
    background:transparent;
    background-image: url(../../img/icons/back.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }

	#headBox button.close{
    float:right;
		margin-right: 20px;
    margin-top: 18px;
    width:16px; height:16px;
    background-image: url(../../img/icons/close.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }

  h1{
    text-align:center;
    width:250px; margin:auto;
    font-weight: 500;
    font-size:13pt; line-height:50px;
  }

/*=== 전문보기/자세히보기 팝업 === */
  #popupBox{
    display:none;
    position:absolute;
    z-index:9999;
    display:block;
    width:100%; height:100%;
    background-color: #fff;
    padding:20px; box-sizing: border-box;
  }

    .popupH{
      width:100%; height:30px;
      font-size:7pt;
    }

    .popupC{
      width:100%; height:550px;
      border:1px solid #eee;
      padding:20px; box-sizing: border-box;
      overflow-y: scroll;
      font-size:9pt;
    }

    .popupE{
      width:80px; height:32px;
      margin:auto; margin-top: 20px;
    }

    .popupE button{
      width:80px; height:32px;
      border-radius: 20px;
      background-color: #333;
      color:#fff;
      font-weight: 600;
      font-size:9pt;
    }

/*=== 결제 비밀번호 재설정 팝업 === */
  #resetPopup{
    display:none;
    position:fixed;
    z-index:9999;
    width:100%; height:100%;
    background:rgba(0, 0, 0, 0.7);
  }

  .resetBox{
    position: absolute;
    top:0; left:0; right:0; bottom:0; margin:auto;
    width:300px; height:160px;
    border-radius: 10px;
    background-color: #fff;
    padding-top:30px; box-sizing: border-box;
  }

  .resetBox p{
    font-size:12pt;
    text-align: center;
  }

  .resetBtn{
    width:72px; height:34px;
    margin:auto; margin-top: 25px;
  }

  .resetBtn button{
    width:72px; height:34px; font-weight: 500;
    background: #10192A; color:#fff;
    border-radius: 50px;
    font-size:9.5pt;
    text-align: center;
  }

/* ============ 휴대폰 본인인증(#sms-certi) ============== */

  #infoBox{
   position: relative;
   width:100%; height:auto;
   padding:60px 15px 9px 15px; box-sizing: border-box;
  }


 /* 컨텐츠 아이콘/제목 */
 .contentBox{width:100%; height:auto;}
    
    .contentTitle{
      width:100%; height:40px;
      }

    .contentTitle h2 {float:left; font-size:11pt; font-weight:500;}

    /* sms (sms 인증) */
    .smsContent{
      width:100%; height:auto;
    }

      .smsContent > form,
      .smsContent fieldset { width: 100%; height:auto; }
    
    .smsContent dl {
      width: 100%; height:auto; min-height:40px;
      margin-bottom: 16px;
    }
    .smsContent dl:last-of-type{
      margin-bottom: 0;
    } 
    
    .smsContent dt{ 
      float:left; 
      width: 100%; height: 36px;
      font-size:10pt; line-height:50px;
      font-weight:600;
      text-indent:0.2rem;
      letter-spacing :-1px;
    }

    .smsContent dd{ 
      float:left; 
      width: 100%; height: 36px;
      font-size:1rem;
      text-indent:0.2rem;
    }

    .input_area{
      position: relative;
      width: 100%; height: 36px; 
      background-color: #fff;
      box-sizing: border-box;
    }
    
    .input_area div {
      float:left;
      padding:5px; 
      width: 100%; height: 100%;
      border-bottom:1px solid #dadada;
      box-sizing: border-box;
    }

    .input_area input,
    .input_area select{
      display: block;
      width:100%;  height: 100%;
      box-sizing: border-box;
      border:0; font-size:11pt;
      font-weight: 500;
    }

    /* name */
    .userName_area div{
      width:50%; margin-right:1%;
    }

		.userName_area div.action{
      border:1px solid #f00;
    }

    .userName_area .button-label{
      display:inline-block;
      float:left; width:23%; height:100%;
      line-height:36px;
      text-align: center;
      background-color:#fff;
      border-radius: 20px;
      border:1px solid #ccc;
      cursor: pointer;
      text-indent:0;
    }

    .userName_area .locLabel{margin-right: 5px;}

    #loc-btn:checked + .button-label {
      border:0;
      background-color: #333; color:#fff;
    }
    #loc-btn:checked + .button-label:hover {
      border:0;
      background-color: #333; color:#fff;
    }
    
    #for-btn:checked + .button-label {
      border:0;
      background-color: #333; color:#fff;
    }
    #for-btn:checked + .button-label:hover {
      border:0;
      background-color: #333; color:#fff;
    }

    /* birthday */
    .birthday_area{
      border-bottom:1px solid #dadada;
    }
    .birthday_area div{
      border-bottom:0;
    } 

    .birthday_area div input,
    .birthday_area div span {
      float:left;
    }

    .birthday_area div input#birthday-front{
      width:44%; margin-right:1%;
    }

    .birthday_area div span.space{
      width:1%; margin-right:1%;
      display:block; line-height:32px;
    }

    .birthday_area div input#birthday-back{
      width:18%; text-align: right;
    }

    .birthday_area div span.secret{
      width:30%;
      display:block; line-height:22px;
      font-size:9pt; letter-spacing:-1px;
      color:#777;
    }

    /* phoneNumber */
    .phoneNumber_area div{
      width:77%; margin-right:1%;
    }

    .phoneNumber_area div input{
      letter-spacing: 1px;
    }

    #phoneCerti{
      float:left;
      width:22%; height:100%;
      border-radius: 25px;
      background-color: #eee;
    }

    #phoneCerti.active{
      background-color: #333;
      color:#fff;
    }

    /* certiNumber */
    .certiNumber_area div{
      width:77%; margin-right:1%;
    }

    .certiNumber_area div input{
      letter-spacing: 1px;
    }

    .certiNumber_area #timer{
      display:none;
      position:absolute;
      width:50px;
      border:0; font-size:10pt;
      color:#f00; 
      top:12%; right:22%;
    }

    .certiNumber_area button{
      float:left;
      width:22%; height:100%;
      border-radius: 25px;
      border: 1px solid #eee;
    }

    .certiNumber_area button.active{
      background-color: #333;
      color:#fff;
    }

    .certiNumber_area p{
      font-size:9pt; line-height:22px;
      color:#555; letter-spacing: -0.5px;
    }

    .certiNumber_area span#resend{
      display:none;
      border:none;
      font-size:9pt; background:transparent;
      cursor:pointer;
    }

    /* terms (약관 및 개인정보 수집 동의) */
    .termsContent{
      margin-bottom: 20px;
    }
    .termsContent li{
      width:100%; height:25px;
      font-size:9pt;
    }
    .termsContent input,
    .termsContent .check_area{float:left;}

    .termsContent .check_area{
      width:93%;
    }

    .termsContent span{
      position: absolute;
      right:5%; 
      cursor: pointer;
    }

    .termsContent .line{
      height:10px;
    }

    .termsContent label{
      position: relative;
      line-height: 5px; 
      padding-left:8px;
      width:100%; height:auto;
    }

    .termsContent label.all_check_title{  
      font-size:11pt; font-weight: 600; cursor: pointer;}

    input[type="checkbox"] {
      position: absolute; z-index: -1; width: 0; height: 0; overflow: hidden;
    }

    .allCheck_area label:before{
      color:#000;
    }

    span.terms_views{
      cursor: pointer;
      text-decoration: underline;
      font-size:9.5pt;
      color:#DCDCDC;
    }

    /* confirm (확인/취소/계속 진행하기) */
    .confirmBox button{
      width:100%; height:45px;
      border-radius:25px;
      border:1px solid #ccc;
      margin-top: 5px;
      font-size:11pt; font-weight: 600;
    }

    .confirmBox button#confirmBtn{
      border:0;
      background-color: #eee;
    }

    button#nextBtn{
      margin-top:10px;
      border-radius: 0;
      width:100%; height:70px;
      border:0;
      font-size:11pt; 
      background-color: #f5f6f7;
    }

    button#nextBtn.action{
      background-color: #EA002C;
      color:#fff;
    }

/* ============ 휴대폰 결제 서비스 동의(#consent) ============== */
.terms-of-use{
  width:100%; height:75vh;
  border:1px solid #ccc;
  background-color: #fbfbfb;
  padding:10px; box-sizing: border-box;
  overflow-y:scroll;
  font-size:10pt;
}

#footBox{
  position: fixed; bottom:0;
  width:100%; height:auto;
  background-color: #fff;
}

.consentBox{
  margin-top: 10px;
  margin-left: 5px;
}

.check_area label{
  position: relative;
  line-height: 5px; 
  padding-left:35px; 
  cursor: pointer;
  font-size:10.5pt;
  font-weight: 400;
  
}

.check_area label:before{
  /*
  width:20px; height:20px;
  background-image: url(../../img/icons/check_before.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  */
  margin-left: 5px;
  content:"\f058"; 
  position: absolute;	top:8px; left: 0; 
  z-index:1001;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;	font-size:15pt;
  color:rgba(51,51,51,0.3);
} 
  
input[type="checkbox"].check + .check_area > label:before {
  /*
  width:20px; height:20px;
  background-image: url(../../img/icons/check_after.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  */
  margin-left: 5px;
  content:"\f058"; 
  color:#000;
}

.consentBtn button{
  background-color: #f5f6f7;
  margin-top: 20px;
  width:100%; height:70px;
  font-weight: 600; font-size:11pt;
}

.consentBtn button.action{
  background-color: #EA002C;
  color:#fff;
}

/* ============ 휴대폰 결제 비밀번호 등록(#newPassword) ============== */
.pwTitle{width:100%; height:50px; letter-spacing: -1px;}
.pwTitle h2{font-size:13pt; font-weight: 500;}
.pwTitle p{font-size:11pt; color:#777; margin-top: 5px;}

.pwT2 h2{margin-bottom: 5px; letter-spacing: 0;}
.pwT2 p{margin-top: 0;}

.pwContent{
  width:100%; height:150px;
  padding:70px 10px 20px 10px; box-sizing: border-box;
}

.pwInt{
  width:100%; height:auto;
  text-align: center;
}

.pwInt p{
  font-size:14pt; letter-spacing:-0.5px; line-height: 25px;
  font-weight: 500; margin-top: 5px;
}

.pwInt p.pwC-user{
  font-size:11pt; margin-top: 20px;
  font-weight: 500;
}

.pw{
  display:none;
  position:fixed;
  bottom:0;
  width:100%; height:235px;
  margin:auto; margin-top: 30px; 
}

.pw p {
  display:block;
  width:100%; height:25px;
  text-align: center;
  background-color: #283040;
  color:#fff;
  font-weight: 300;
  font-size: 9pt;
  line-height: 25px;
}

#pin {
  background: #fff;
  width: 100%; height:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  color: #777;
}

.pin__dots {
  width: 40%;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.pin__dots--item {
  position: relative;
  background-color: #D8D8D8;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  transform: scale3d(0.9, 0.9, 0.9);
  transition: all 250ms ease-in;
}

.pin__dots--item.active {
  background: #EA002C;
  transform: scale3d(1, 1, 1);
}

.pin__numbers {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  align-content: flex-end;
  width: 100%;
  background-color: #10192A;
  color:#fff;
}

.pin__number__div{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  align-content: flex-end;
  width: 80%;
  background-color: #10192A;
}

.pin__number__cont{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  align-content: flex-end;
  background-color: #10192A;
  width: 20%;
}

.pin__numbers--item {
  float:left;
  flex-basis: 24.7%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24.7%;
  height: 70px;
  text-align: center;
  font-weight: 400;
  font-size: 12pt;
  cursor: pointer;
  user-select: none;
  transition: all 250ms ease;
  border-right:1px solid #16223A;
  border-top:1px solid #16223A;
  box-sizing: border-box;
  margin-right:0.3%;
  margin-top: 0.3%;
}

.number_area{
  font-size:14pt;
}

.pin__numbers--item:hover{
  background-color: #283040;
}

.pin__number__cont .pin__numbers--item{
  flex-basis: 100%;
  width:100%;
  border-right:0;
  margin-top: 1.2%;
  margin-right: 0;
}

input.submit{
  font-size:12pt;
  font-weight: 400;
  background-color: #10192A;
  color:#fff;
  border-left:0;
}

.resetP{
  margin-top: 50px;
  text-align: center;
  cursor: pointer;
  font-size:10pt;
  color:#737277;
  text-decoration: underline;
}

/* ============ 결제완료 (#complete) ============== */
.user_info{
  width:100%; height:120px;
  margin-top: 20vh;
  text-align: center;
  letter-spacing :-1px;
  user-select: none;
}

.user_info p.user_info_p{
  font-size:12pt;
}

p.completeM{
  text-align: center;
  font-size:14pt;
  font-weight:600;
}

.complete_next{
  margin:auto;
  margin-top: 10vh;
  width:90%; height:50px;
}

.complete_next button{
  float:left;
  width:100%; height:50px;
  border-radius: 25px;
  margin-bottom: 10px;
  border:1px solid #D8D8D8;
  background-color: #fff;
}

.complete_next button a {
  line-height: 50px;
  font-size:13pt;
  font-weight: 500;
}

.complete_next button.shop{
  border:0;
  background-color: #EA002C;
  color:#fff;
}

.complete_next button.cart{
  color:#D8D8D8;
}

/* ===================================== */
/* ============== web css ============== */
/* ===================================== */
@media screen and (min-width: 481px) {
  /* confirm (확인/취소/계속 진행하기) */
  .confirmBox button{
    width:49%; height:45px;
    border-radius:25px;
    border:1px solid #ccc;
    margin-top: 5px;
    font-size:11pt; font-weight: 600;
  }

  .confirmBox button#confirmBtn{
    border:0;
    background-color: #eee;
  }

  button#nextBtn{
    margin-top:10px;
    border-radius: 0;
    width:100%; height:70px;
    border:0;
    font-size:11pt; 
    background-color: #f5f6f7;
  }

  button#nextBtn.action{
    background-color: #EA002C;
    color:#fff;
  }
}
